<!DOCTYPE html>
<html>
  <head>
    <title>Simple</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div>
        <span><%= current_user.email %></span>
        <span><%= link_to "注销", destroy_user_session_path, :method => :delete%></span>
        <% if current_user.role == "admin" %>
            <span><%= link_to "后台管理", rails_admin_path %></span>
        <% end  %>
      </div>
    <% else %>
      <div>
        <span><%= link_to "登录",new_user_session_path %></span>
      </div>
    <% end  %>
    <%= yield %>
  </body>
</html>
